$default-border-color: #fff;
$default-border-radius: 50px;
$default-border-color: gray;
$default-text-align-center: center;
$default-white: #fff;
$default-gap: 5px;
$default-second-gap: 10px;
$default-cursor-pointer: pointer;
$defaut-black: black;





